.input{
    border: 0;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.4rem;
    font-family: Nunito, sans-serif;
    color: #000;

    &::placeholder{
        color: #aaa
    }
    &::-webkit-input-placeholder{
      
        color: #aaa
    }
    &:-ms-input-placeholder{
        color: #aaa
    }
    &:focus{
        outline: none
    }
}