.preview {
    position:relative;
    
    &__image {
      display: block;
      object-fit: cover;
      width: 100%;
      height: auto;
    }
    
    &__section {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba(#081825, 1);
      padding: 15rem 4rem;
    }
    
    &__title {
      color: #fff;
      max-width: 70%;
      font-size: 2rem;
      line-height: 1.4;
      font-weight: 200;
    }
  }
 